.image-container {
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  overflow: hidden; /* Hide overflow */
}

.responsive-image {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}
