.name {
  color: rgb(248 216 86);

  margin-left: 10px;
  font-family: "owners", sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
    -1px 1px 0 black; /* Stroke color and width */
}

/* src/components/Sidebar.css */
.sidebar {
  width: auto; /* Allow width to be based on content */
  min-width: 200px; /* Ensure a minimum width to avoid being too small */
  background-color: rgb(81 89 241);
  color: rgb(184 208 225);
  height: 100vh; /* Full viewport height */
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0px;
  border-right: 2px solid black; /* Optional: border for better visibility */
}

.sidebar ul {
  list-style-type: none;
  padding: 8px;
  margin: 2px;
}

.sidebar a {
  color: rgb(248 216 86);
  text-shadow: 0.7px 0.7px 0 black, -0.7px -0.7px 0 black, 0.7px -0.7px 0 black,
    -0.7px 0.7px 0 black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
  margin: 10px 0px;
  font-family: "owners", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
}

.sidebar-logo {
  width: 20px; /* Adjust size as necessary */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between logo and text */
  filter: invert(1);
}

.sidebar a:hover {
  background-color: rgba(134, 156, 255, 0.379);
}

.separator {
  border-bottom: 1px solid #000000; /* Color and thickness of the line */
}
