/* src/App.css */
.App {
  display: flex; /* Flexbox layout */
  height: 100vh; /* Full viewport height */
}

.main {
  flex: 1; /* Take up the remaining space */
  margin-left: 200px; /* Ensure content starts after the sidebar */

  background-color: rgb(253, 244, 221);
  box-sizing: border-box; /* Include padding in the width calculation */
}

.content {
  flex: 1; /* Take up the remaining space */
  margin-left: 200px; /* Ensure content starts after the sidebar */
  padding: 5px;
  background-color: rgb(253, 244, 221);
  box-sizing: border-box; /* Include padding in the width calculation */
}

.info {
  margin: 10px;
  flex: 1; /* Take up the remaining space */
  margin-left: 20px; /* Ensure content starts after the sidebar */

  box-sizing: border-box; /* Include padding in the width calculation */
  font-family: "owners", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.portrait {
  width: 256px;
  object-fit: cover;
  height: 256px;
  border-radius: 10px;
  border: 2px solid black; /* Adds a black border */
}

.demo-image-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.demo-image {
  height: auto;
  width: 16%;
  border: 2px solid black;
  border-radius: 10px;
}

.embed-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust spacing between iframes */
}

.box-title {
  padding: 16px;
  font-family: "owners", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  border-bottom: 2px solid black;
}

/* Add border to the right of each box except the last one */
.project-container .box-default:not(:last-child) {
  border-right: 2px solid black;
}

/* Add border-top to boxes that are not the first or last child */
.box-container .box-full-width {
  border-top: 2px solid black;
}

.box-full-width {
  flex: 1 1 100%; /* Takes full width of the container */
  height: 100%;
  width: auto;
}

.box-default {
  height: auto;
  width: auto;
  flex: 1;
}

.project-container {
  border-radius: 30px;
  margin: 20px;
  border: 2px solid black; /* Adds a black border */
  overflow: hidden; /* Ensure no overflow if needed */
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line */
}

.box-container {
  overflow: hidden; /* Ensure no overflow if needed */
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line */
}
