/* src/App.css */
.App {
  display: flex; /* Flexbox layout */
  height: 100vh; /* Full viewport height */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire area without distortion */
  z-index: -1; /* Ensure the video stays behind other content */
}

.content {
  flex: 1; /* Take up the remaining space */
  margin-left: 200px; /* Ensure content starts after the sidebar */
  padding: 0px;
  background-color: #f4f4f4;
  box-sizing: border-box; /* Include padding in the width calculation */
}
